@model IEnumerable<Product>


<h1>Coffee Shop</h1>

@foreach (var item in Model)
{
    <img height="100" width="100" src="@item.ImageUrl" />
    <a asp-controller="Products" asp-action="Detail" asp-route-id="@item.Id">
        <h3>@item.Name</h3>
    </a>
    <p>@item.Price.ToString("c")</p>
}

@* @{
    Layout = "_Layout";
}
 *@