html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar.navbar-light.bg-primary:hover {
    background-color: papayawhip; /* Change to the background color you prefer */
}

.navbar-nav .nav-link {
    color: white !important;
}

    .navbar-nav .nav-link:hover {
        color: greenyellow !important; /* Change to the color you prefer */
    }

.footer {
    line-height: 30px !important;
}
